<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initialscale=1.0">

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}">
</head>

<body>

	<div th:replace="~{layout/header::headerFragment}">
	</div>

	<div>
	<!-- 기본 템플릿 안에 삽입될 내용 시작 -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 끝 -->
	</div>
</body>
</html>